body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#0f172a;
    color:white;
    text-align:center;
}

.container{
    margin-top:80px;
}

h1{
    font-size:50px;
    color:#38bdf8;
}

p{
    font-size:18px;
    color:#cbd5e1;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:#38bdf8;
    color:white;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#0284c7;
}
